body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(216, 43, 135);
    text-align: center;
    font-family: Fredoka;
}
header p{
    text-align: center;
    font-family: Fredoka;
    margin-bottom:5%

}
#container{
    height: 150px;
    width: 1050px;
    margin:auto;
    
}
.tessere img{
    width: 100px;
    float: left;

}
.tessere h2{
    padding-top: 16px;
    margin:0 0 0 110px;
    font-family: Fredoka;
    color: white;
    
}
.tessere p{
    padding-top: 5px;
    margin:0 0 5px 110px;
    font-family: Fredoka;
    color: white;


}
.tessere a{
    margin-left: 105px;
    display: block;
    font-family: Fredoka;
    color: rgb(0, 183, 255);
    text-decoration: none;
}
.tessere{
    background-color: rgb(2, 2, 29);
    width: 325px;
    content: "";
    clear: both;
    display: table;
}
.colonna{
    float: left;
    width: 350px;
}